* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'TT Norms', sans-serif;
}



/* header */
.header__top {
    width: 100%;
    height: 63px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 135px;


}

.header__top .header-line-top {
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #00c65e 26.28%, rgba(0, 198, 94, 0) 101.66%)
}

.header__top .header__top_left {
    display: flex;
    align-items: center;
}

.header__top .header__top_left img {
    -o-object-fit: contain;
    object-fit: contain;
    cursor: pointer;
    padding-right: 20px;

}

.header__top .header__top_left .header-nav {
    height: 57px;
    padding: 0 17px;
    width: -moz-fit-content;
    width: fit-content;
    transition: .3s;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    display: flex;
    align-items: center;
    color: #363a45;
    cursor: pointer;
    flex-wrap: nowrap;
}

.header__top .header__top_left .header-nav:hover {
    background: #a9e1c4;
    color: #363a45;
    border-bottom: 1px solid #00c65e
}

.header__top .header__top_right {
    display: flex;
    align-items: center;
    gap: 29px;
    width: -moz-fit-content;
    width: fit-content
}

.header__top .header__top_right .header-r-nav {
    display: flex;
    align-items: center
}

.header__top .header__top_right .header-r-nav img {
    cursor: pointer;
    margin-right: 10px
}

.header__top .header__top_right .header-r-nav .select {
    border: none;
    outline: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    display: flex;
    align-items: center;
    color: #363a45;
    opacity: .6
}

.header__top .header__top_right .header-r-nav .header-r-reg {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #363a45
}


/* header bottom */
header .bottom {
    height: 50px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #dadcdc;
}

header .bottom .b-main {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding: 0 135px;
}

header .bottom .b-main .m-left {
    display: flex;
    align-items: center;
    grid-gap: 40px
}

header .bottom .b-main .m-left .key {
    display: flex;
    align-items: center;
    grid-gap: 13px;
    color: #363a45
}

header .bottom .b-main .m-left .key span {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500
}

header .bottom .b-main .m-left .key a {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #363a45
}

header .bottom .b-main .m-left .key span.active {
    color: #00c65e
}

header .bottom .b-main .m-right {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 80px
}

header .bottom .b-main .m-right .search {
    width: 380px;
    height: 28px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    position: relative;
}

header .bottom .b-main .m-right .search input {
    width: 240px;
    border: none;
    outline: 0;
}

header {
    position: relative;
    z-index: 50;
}

header .match {
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #e7e7e7;
    border-radius: 10px;
    overflow: hidden;
    transition: 300ms ease;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
}

header .match.active {
    opacity: 1;
    z-index: 1;
}

header .match p, a {
    display: flex;
    align-items: center;
    transition: 300ms ease;
    padding: 14px 16px;
    font-weight: 600;
    color: #333333;
}

header .match a:hover {
    background-color: #e7e7e7;
}

.match a.active {
    background-color: #dfdfdf;
}

header .bottom .b-main .m-right .search button {
    border: none;
    height: 100%;
    width: 89px;
    background-color: #dadcdc;
    border-radius: 0 18px 18px 0;
}

header .bottom .b-main .m-right .search img {
    width: 12px;
    margin-left: 15px;


}

header .bottom .b-main .m-right .other {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 22px
}

header .bottom .b-main .m-right .other .key p {
    font-size: 14px;
    font-weight: 500
}

header .bottom .b-main .m-right .other .key p a {
    color: #363a45
}

/* slider */


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 135px;


}

.left__screen {
    display: flex;
    align-items: center;
    justify-content: left;
}

.text__screen {
    font-family: TT Norms;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    width: 274px;
}

.btn__screen {
    width: 188px;
    height: 40px;
    background-color: #00C65E;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border: none;
    margin-top: 15px;
}

.prev {
    transform: rotate(180deg);
}

.flex__text {
    margin-left: 43px;
}

.screen {
    margin-top: 100px;
}

.wrapper__flex {
    display: flex;
    justify-content: space-between;
}

.karusel__box {
    width: 478px;
    position: relative;
    height: 257px;
    background-color: #C4C4C4;
}

.image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-position: center;
    object-fit: contain;
    opacity: 0;
    clip-path: circle(0% at 0 50%);
    transition: 2000ms;
}

.image.active {

    clip-path: circle(150% at 0 50%);
    opacity: 1;
    transition: 2000ms;
}

.right__screen {
    display: flex;
    align-items: center;

}

.next {
    margin-left: 80px;
}

.cirsles {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    margin-top: 46px;
}

.cirsle {
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

.cirsle.active {
    transition: 2000ms;
    background: #363A45;
    transform: scale(90%);
}

.cirsle {
    background: #DADCDC;
}


/* product */
.product__blocks {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    grid-gap: 25px;
}

.title__products {
    font-weight: 700;
    font-size: 32px;
    color: #363A45;
    margin: 90px 0 30px;
}

.product {
    position: relative;
    width: 214px;
    height: fit-content;
    overflow: hidden;
    padding: 0 15px 15px;
    box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
    box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.25);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.like_green {
    z-index: 100;
    cursor: pointer;

    position: absolute;
    top: 15px;
    right: 15px;
}

.categories {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #DADCDC;
    margin-top: 10px;
    width: 100%;
}

.product_name {
    width: 100%;
    min-height: 49px;
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    margin-top: 10px;
}


.btns {
    width: 100%;
    display: flex;
    gap: 10px;
}

.color {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 15px 0;
}

.grey {
    background-color: #C4C4C4;
}

.light {
    background-color: #CCEFDB;
}

.dark {
    background-color: #363A45;
}

.gold {
    background-color: #FFB762;
}

.product_desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.product_prise {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #00C65E;
    width: 70px;
}

.like_comm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    height: 20px;
}

.l {
    margin-top: 5px;
    font-style: normal;

    font-size: 12px;
    line-height: 140%;
    color: #363A45;
}

.buy {
    width: 100%;
    height: 30px;
    background-color: white;
    box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease;
}

.buy:hover {
    box-shadow: 1px 2px 10px 10px rgba(32, 34, 41, 0.08);
}

.bascet {
    margin-left: 15px;
}

.btn__all {
    width: 70px;
    margin-top: 20px;
    background: none;
    color: #00C65E;
    background-color: white;
    border: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;

    position: absolute;
    bottom: -43px;
    left: 0;
}

.hide__all {
    color: red;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

.activeLike {
    fill: #00c65e !important;

}

.main-img {
    min-height: 460px;
    object-fit: contain;
    object-position: center;
}

.added-btn {
    background-color: #00c65e;
    color: white;
}

.key {
    display: flex;
    gap: 5px;
}

.green-shit {
    width: 18px;
}



.flex {
    display: flex;
    justify-content: center;
    padding-right: 390px;
    position: relative;
    top: 30px;
}

.left_block {
    padding: 99px 545px;
}

.title h1 {
    font-size: 48px;
    width: 500px;
}

.btn_slider {
    padding: 46px 5px;
}

.btn_sli {
    width: 225px;
    height: 40px;
    background: #00C65E;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease;
}

.btn_sli:hover {
    color: #00C65E;
    background-color: white;
    box-shadow: 0px 0px 8px rgb(92, 91, 91);
    transition: 0.5s ease;


}

.right_img_slider {
    position: fixed;
    left: 57%;
    top: 140px;
}



.shit_img {
    width: 420px;
    height: 200px;
    object-fit: contain;
}

.shit_ipad {
    position: relative;
    left: 200px;
    object-fit: contain;
    width: 200px;
    height: 200px;
}

.spec-nacbar {
    height: 400px;
    margin-bottom: 100px;
}

.owl-next {
    right:20%;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
}

.owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    left: 20%;
    background-image: url('../img/right.png');
}

.flex {
    position: relative;
}